{% extends 'doctor/includes/base.html' %}
{% block title %}Prescription List {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-lg">New Patient</button>
      {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Old Patient</button> {% endcomment %}
    </div>
    <div class="col-md-5">
     

      <form class="form-inline" method="POST" action="{% url 'prescriptionsearch' %}">
        {% csrf_token %}

        <label class="sr-only" for="inlineFormInputName2">Patient ID</label>
        <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="p_id" placeholder="Enter Patient ID">   
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>

    <div class="col-md-5">
      {% if doctorprofile %}
      
      {% else %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Update your profile in the Profile section for the prescription.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
  </div>
  </div>
</div>
<br>

<div class="container prescriptions">
  <div class="row">
      <div class="col-md-12">
          {% if prescriptions %}
          <div class="table-responsive">
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Patient ID</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Patient Age</th>
                  <th scope="col">Patient Phone</th>
                  <th scope="col">Patient Address</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>

              {% for prescription in prescriptions %}
                <tr>
                  <th scope="row">{{prescription.p_id}}</th>
                  <td>{{prescription.patient_name}}</td>
                  <td>{{prescription.patient_age}}</td>
                  <td>{{prescription.patient_mobile}}</td>
                  <td>{{prescription.patient_address}}</td>
                  <td><a href="{% url 'prescriptionEdit' prescription.id %}" class="btn btn-warning">Edit</a> <a href="{% url 'oneprescription' prescription.id %}" class="btn btn-primary">View</a> 
                    <a href="{% url 'prescriptionprint' prescription.id %}" target="_blank" class="btn btn-primary">Print</a> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              Today you haven't created any prescription yet.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            {% endif %}
      </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Prescription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST">
          {% csrf_token %}
      <div class="row">
          <div class="col-md-6">
              {{ request.CustomUser }}
              {{prescription.patient_name|as_crispy_field}}
          </div>
          <div class="col-md-6">
              {{prescription.patient_age|as_crispy_field}}
          </div>
          <div class="col-md-6">
              {{prescription.patient_sex|as_crispy_field}}
          </div>
          <div class="col-md-6">
              {{prescription.patient_address|as_crispy_field}}
          </div>
          <div class="col-md-6">
              {{prescription.patient_mobile|as_crispy_field}}
          </div>
          <div class="col-md-6">
              {{prescription.patient_weight|as_crispy_field}}
             
          </div>
          <div class="col-md-4 offset-md-4">
            <button type="submit" class="btn btn-success btn-lg">Save Prescription</button>
          </div>
         
      </div>
      
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group row">
            <label for="patient_id" class="col-sm-3 col-form-label">Patient ID</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="patient_id" name ="patient_id" placeholder="Patient Id">
            </div>
          </div>
          <div class="col-md-2 offset-md-3">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>



{% endblock content %}


